{% if form.non_field_errors %}<div class="nonfield">{{ form.non_field_errors|join:" " }}</div>{% endif %}
{% for field in form %}
  {% if field.field.widget.input_type == "checkbox" %}
    <div class="field checkbox">{{ field }}<label for="{{ field.id_for_label }}">{{ field.label }}</label>{% if field.help_text %}<div class="help">{{ field.help_text|safe }}</div>{% endif %}{{ field.errors }}</div>
  {% else %}
    <div class="field">
      <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %} <span class="muted" aria-hidden="true">*</span>{% endif %}</label>
      {{ field }}
      {% if field.help_text %}<div class="help">{{ field.help_text|safe }}</div>{% endif %}
      {{ field.errors }}
    </div>
  {% endif %}
{% endfor %}
